{% extends "base.html" %***REMOVED***
{% load static %***REMOVED***
{% block content %***REMOVED***
<!-- Header -->
<header id="header">
    <div class="logo">
        <span class="icon fa-diamond"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>Anastasia &</br>Max's wedding</h1>
            <p>Join us!</p>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="#ourstory">Our Story</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#travel">Travel</a></li>
            <li><a href="#registry">Registry</a></li>
            <li><a href="#rsvp">RSVP</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<div id="main">

    <!-- ourstory -->
    <article id="ourstory">
        <h2 class="major">Our Story</h2>
        <span class="image main"><img src="{% static 'images/ourstory.jpg' %***REMOVED***" alt="" /></span>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
    </article>

    <!-- schedule -->
    <article id="schedule">
        <h2 class="major">Schedule</h2>
        <span class="image main"><img src="{% static 'images/ourstory.jpg' %***REMOVED***" alt="" /></span>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
    </article>

    <!-- travel -->
    <article id="travel">
        <h2 class="major">Travel</h2>
        <span class="image main"><img src="{% static 'images/ourstory.jpg' %***REMOVED***" alt="" /></span>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
    </article>

    <!-- registry -->
    <article id="registry">
        <h2 class="major">Registry</h2>
        <span class="image main"><img src="{% static 'images/ourstory.jpg' %***REMOVED***" alt="" /></span>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. By the way, check out my.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
    </article>

    <!-- RSVP -->
    <article id="rsvp">
        <h2 class="major">RSVP</h2>
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <input type="text" name="rsvp-code" id="rsvp-code" placeholder="RSVP code" required />
                    </div>
                    <div class="field half">
                        <input type="text" name="rsvp-name" id="rsvp-name" placeholder="Fullname" required />
                    </div>
                    <div class="field half">
                        <input type="email" name="rsvp-email" id="rsvp-email" placeholder="Email address" required />
                    </div>
                    <div class="field half">
                        <input type="radio" name="rsvp-attendance" id="rsvp-accept" value="accepted" />
                        <label for="rsvp-accept">Accept, with pleasure</label>
                    </div>
                    <div class="field half">
                        <input type="radio" name="rsvp-attendance" id="rsvp-decline" value="declined" />
                        <label for="rsvp-decline">Decline, with regrets</label>
                    </div>
                    <div class="field">
                        <input type="text" name="rsvp-song" id="rsvp-song" placeholder="Suggest a song for the reception!">
                    </div>
                    <div class="field">
                        <textarea name="rsvp-message" id="rsvp-message" placeholder="Leave a message for the bride and groom!" rows="6"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Confirm" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
        </section>
    </article>

</div>
{% endblock content %***REMOVED***
