/*
    DJANGO Admin styles
*/

@import url(fonts.css***REMOVED***;

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
***REMOVED***

/* LINKS */

a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
***REMOVED***

a:focus, a:hover {
    color: #036;
***REMOVED***

a:focus {
    text-decoration: underline;
***REMOVED***

a img {
    border: none;
***REMOVED***

a.section:link, a.section:visited {
    color: #fff;
    text-decoration: none;
***REMOVED***

a.section:focus, a.section:hover {
    text-decoration: underline;
***REMOVED***

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
***REMOVED***

p {
    padding: 0;
    line-height: 140%;
***REMOVED***

h1,h2,h3,h4,h5 {
    font-weight: bold;
***REMOVED***

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
***REMOVED***

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
***REMOVED***

h2.subhead {
    font-weight: normal;
    margin-top: 0;
***REMOVED***

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    color: #666;
    font-weight: bold;
***REMOVED***

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
***REMOVED***

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
***REMOVED***

ul li {
    list-style-type: square;
    padding: 1px 0;
***REMOVED***

li ul {
    margin-bottom: 0;
***REMOVED***

li, dt, dd {
    font-size: 13px;
    line-height: 20px;
***REMOVED***

dt {
    font-weight: bold;
    margin-top: 4px;
***REMOVED***

dd {
    margin-left: 0;
***REMOVED***

form {
    margin: 0;
    padding: 0;
***REMOVED***

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
***REMOVED***

blockquote {
    font-size: 11px;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
***REMOVED***

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #666;
    font-size: 12px;
***REMOVED***

pre.literal-block {
    margin: 10px;
    background: #eee;
    padding: 6px 8px;
***REMOVED***

code strong {
    color: #930;
***REMOVED***

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
***REMOVED***

/* TEXT STYLES & MODIFIERS */

.small {
    font-size: 11px;
***REMOVED***

.tiny {
    font-size: 10px;
***REMOVED***

p.tiny {
    margin-top: -2px;
***REMOVED***

.mini {
    font-size: 10px;
***REMOVED***

p.mini {
    margin-top: -3px;
***REMOVED***

.help, p.help, form p.help, div.help, form div.help, div.help li {
    font-size: 11px;
    color: #999;
***REMOVED***

div.help ul {
     margin-bottom: 0;
***REMOVED***

.help-tooltip {
    cursor: help;
***REMOVED***

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
***REMOVED***

.quiet, a.quiet:link, a.quiet:visited {
    color: #999;
    font-weight: normal;
***REMOVED***

.float-right {
    float: right;
***REMOVED***

.float-left {
    float: left;
***REMOVED***

.clear {
    clear: both;
***REMOVED***

.align-left {
    text-align: left;
***REMOVED***

.align-right {
    text-align: right;
***REMOVED***

.example {
    margin: 10px 0;
    padding: 5px 10px;
    background: #efefef;
***REMOVED***

.nowrap {
    white-space: nowrap;
***REMOVED***

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
***REMOVED***

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
***REMOVED***

th {
    font-weight: 600;
    text-align: left;
***REMOVED***

thead th,
tfoot td {
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
***REMOVED***

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
***REMOVED***

thead th.required {
    color: #000;
***REMOVED***

tr.alt {
    background: #f6f6f6;
***REMOVED***

.row1 {
    background: #fff;
***REMOVED***

.row2 {
    background: #f9f9f9;
***REMOVED***

/* SORTABLE TABLES */

thead th {
    padding: 5px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
***REMOVED***

thead th a:link, thead th a:visited {
    color: #666;
***REMOVED***

thead th.sorted {
    background: #eee;
***REMOVED***

thead th.sorted .text {
    padding-right: 42px;
***REMOVED***

table thead th .text span {
    padding: 8px 10px;
    display: block;
***REMOVED***

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 8px 10px;
***REMOVED***

table thead th .text a:focus, table thead th .text a:hover {
    background: #eee;
***REMOVED***

thead th.sorted a.sortremove {
    visibility: hidden;
***REMOVED***

table thead th.sorted:hover a.sortremove {
    visibility: visible;
***REMOVED***

table thead th.sorted .sortoptions {
    display: block;
    padding: 9px 5px 0 5px;
    float: right;
    text-align: right;
***REMOVED***

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: 3px;
    margin-left: 2px;
    margin-right: 2px;
***REMOVED***

table thead th.sorted .sortoptions a {
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/sorting-icons.svg***REMOVED*** 0 0 no-repeat;
    background-size: 14px auto;
***REMOVED***

table thead th.sorted .sortoptions a.sortremove {
    background-position: 0 0;
***REMOVED***

table thead th.sorted .sortoptions a.sortremove:after {
    content: '\\';
    position: absolute;
    top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    color: #999;
***REMOVED***

table thead th.sorted .sortoptions a.sortremove:focus:after,
table thead th.sorted .sortoptions a.sortremove:hover:after {
    color: #447e9b;
***REMOVED***

table thead th.sorted .sortoptions a.sortremove:focus,
table thead th.sorted .sortoptions a.sortremove:hover {
    background-position: 0 -14px;
***REMOVED***

table thead th.sorted .sortoptions a.ascending {
    background-position: 0 -28px;
***REMOVED***

table thead th.sorted .sortoptions a.ascending:focus,
table thead th.sorted .sortoptions a.ascending:hover {
    background-position: 0 -42px;
***REMOVED***

table thead th.sorted .sortoptions a.descending {
    top: 1px;
    background-position: 0 -56px;
***REMOVED***

table thead th.sorted .sortoptions a.descending:focus,
table thead th.sorted .sortoptions a.descending:hover {
    background-position: 0 -70px;
***REMOVED***

/* FORM DEFAULTS */

input, textarea, select, .form-row p, form .button {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
***REMOVED***
.form-row div.help {
    padding: 2px 3px;
***REMOVED***

textarea {
    vertical-align: top;
***REMOVED***

input[type=text***REMOVED***, input[type=password***REMOVED***, input[type=email***REMOVED***, input[type=url***REMOVED***,
input[type=number***REMOVED***, input[type=tel***REMOVED***, textarea, select, .vTextField {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
***REMOVED***

input[type=text***REMOVED***:focus, input[type=password***REMOVED***:focus, input[type=email***REMOVED***:focus,
input[type=url***REMOVED***:focus, input[type=number***REMOVED***:focus, input[type=tel***REMOVED***:focus,
textarea:focus, select:focus, .vTextField:focus {
    border-color: #999;
***REMOVED***

select {
    height: 30px;
***REMOVED***

select[multiple***REMOVED*** {
    min-height: 150px;
***REMOVED***

/* FORM BUTTONS */

.button, input[type=submit***REMOVED***, input[type=button***REMOVED***, .submit-row input, a.button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
***REMOVED***

a.button {
    padding: 4px 5px;
***REMOVED***

.button:active, input[type=submit***REMOVED***:active, input[type=button***REMOVED***:active,
.button:focus, input[type=submit***REMOVED***:focus, input[type=button***REMOVED***:focus,
.button:hover, input[type=submit***REMOVED***:hover, input[type=button***REMOVED***:hover {
    background: #609ab6;
***REMOVED***

.button[disabled***REMOVED***, input[type=submit***REMOVED***[disabled***REMOVED***, input[type=button***REMOVED***[disabled***REMOVED*** {
    opacity: 0.4;
***REMOVED***

.button.default, input[type=submit***REMOVED***.default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
***REMOVED***

.button.default:active, input[type=submit***REMOVED***.default:active,
.button.default:focus, input[type=submit***REMOVED***.default:focus,
.button.default:hover, input[type=submit***REMOVED***.default:hover {
    background: #205067;
***REMOVED***

.button[disabled***REMOVED***.default,
input[type=submit***REMOVED***[disabled***REMOVED***.default,
input[type=button***REMOVED***[disabled***REMOVED***.default {
    opacity: 0.4;
***REMOVED***


/* MODULES */

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
***REMOVED***

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
***REMOVED***

.module blockquote {
    margin-left: 12px;
***REMOVED***

.module ul, .module ol {
    margin-left: 1.5em;
***REMOVED***

.module h3 {
    margin-top: .6em;
***REMOVED***

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79aec8;
    color: #fff;
***REMOVED***

.module caption,
.inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
***REMOVED***

.module table {
    border-collapse: collapse;
***REMOVED***

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0;
    margin: 0;
***REMOVED***

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg***REMOVED*** 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
***REMOVED***

ul.messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg***REMOVED*** 40px 14px no-repeat;
    background-size: 14px auto;
***REMOVED***

ul.messagelist li.error {
    background: #ffefef url(../img/icon-no.svg***REMOVED*** 40px 12px no-repeat;
    background-size: 16px auto;
***REMOVED***

.errornote {
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ba2121;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #fff;
    background-position: 5px 12px;
***REMOVED***

ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121;
    background: #fff;
***REMOVED***

ul.errorlist li {
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
***REMOVED***

ul.errorlist li:first-child {
    margin-top: 0;
***REMOVED***

ul.errorlist li a {
    color: inherit;
    text-decoration: underline;
***REMOVED***

td ul.errorlist {
    margin: 0;
    padding: 0;
***REMOVED***

td ul.errorlist li {
    margin: 0;
***REMOVED***

.form-row.errors {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
    background: none;
***REMOVED***

.form-row.errors ul.errorlist li {
    padding-left: 0;
***REMOVED***

.errors input, .errors select, .errors textarea {
    border: 1px solid #ba2121;
***REMOVED***

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
***REMOVED***

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: #c11;
    background: #ffefef url(../img/icon-no.svg***REMOVED*** 5px 5px no-repeat;
***REMOVED***

.description {
    font-size: 12px;
    padding: 5px 0 0 12px;
***REMOVED***

/* BREADCRUMBS */

div.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
***REMOVED***

div.breadcrumbs a {
    color: #fff;
***REMOVED***

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
***REMOVED***

/* ACTION ICONS */

.viewlink, .inlineviewlink {
    padding-left: 16px;
    background: url(../img/icon-viewlink.svg***REMOVED*** 0 1px no-repeat;
***REMOVED***

.addlink {
    padding-left: 16px;
    background: url(../img/icon-addlink.svg***REMOVED*** 0 1px no-repeat;
***REMOVED***

.changelink, .inlinechangelink {
    padding-left: 16px;
    background: url(../img/icon-changelink.svg***REMOVED*** 0 1px no-repeat;
***REMOVED***

.deletelink {
    padding-left: 16px;
    background: url(../img/icon-deletelink.svg***REMOVED*** 0 1px no-repeat;
***REMOVED***

a.deletelink:link, a.deletelink:visited {
    color: #CC3434;
***REMOVED***

a.deletelink:focus, a.deletelink:hover {
    color: #993333;
    text-decoration: none;
***REMOVED***

/* OBJECT TOOLS */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
***REMOVED***

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
***REMOVED***

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 16px;
***REMOVED***

.object-tools a {
    border-radius: 15px;
***REMOVED***

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 3px 12px;
    background: #999;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
***REMOVED***

.object-tools a:focus, .object-tools a:hover {
    background-color: #417690;
***REMOVED***

.object-tools a:focus{
    text-decoration: none;
***REMOVED***

.object-tools a.viewsitelink, .object-tools a.golink,.object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
***REMOVED***

.object-tools a.viewsitelink, .object-tools a.golink {
    background-image: url(../img/tooltag-arrowright.svg***REMOVED***;
***REMOVED***

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg***REMOVED***;
***REMOVED***

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
***REMOVED***

table#change-history tbody th {
    width: 16em;
***REMOVED***

/* PAGE STRUCTURE */

#container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
***REMOVED***

#content {
    padding: 20px 40px;
***REMOVED***

.dashboard #content {
    width: 600px;
***REMOVED***

#content-main {
    float: left;
    width: 100%;
***REMOVED***

#content-related {
    float: right;
    width: 260px;
    position: relative;
    margin-right: -300px;
***REMOVED***

#footer {
    clear: both;
    padding: 10px;
***REMOVED***

/* COLUMN TYPES */

.colMS {
    margin-right: 300px;
***REMOVED***

.colSM {
    margin-left: 300px;
***REMOVED***

.colSM #content-related {
    float: left;
    margin-right: 0;
    margin-left: -300px;
***REMOVED***

.colSM #content-main {
    float: right;
***REMOVED***

.popup .colM {
    width: auto;
***REMOVED***

/* HEADER */

#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
***REMOVED***

#header a:link, #header a:visited {
    color: #fff;
***REMOVED***

#header a:focus , #header a:hover {
    text-decoration: underline;
***REMOVED***

#branding {
    float: left;
***REMOVED***

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #f5dd5d;
***REMOVED***

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f5dd5d;
***REMOVED***

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
***REMOVED***

#branding a:hover {
    text-decoration: none;
***REMOVED***

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
***REMOVED***

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25***REMOVED***;
***REMOVED***

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #79aec8;
    color: #79aec8;
***REMOVED***

/* SIDEBAR */

#content-related {
    background: #f8f8f8;
***REMOVED***

#content-related .module {
    background: none;
***REMOVED***

#content-related h3 {
    font-size: 14px;
    color: #666;
    padding: 0 16px;
    margin: 0 0 16px;
***REMOVED***

#content-related h4 {
    font-size: 13px;
***REMOVED***

#content-related p {
    padding-left: 16px;
    padding-right: 16px;
***REMOVED***

#content-related .actionlist {
    padding: 0;
    margin: 16px;
***REMOVED***

#content-related .actionlist li {
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 18px;
***REMOVED***

#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
    color: #333;
***REMOVED***

.delete-confirmation form input[type="submit"***REMOVED*** {
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    color: #fff;
***REMOVED***

.delete-confirmation form input[type="submit"***REMOVED***:active,
.delete-confirmation form input[type="submit"***REMOVED***:focus,
.delete-confirmation form input[type="submit"***REMOVED***:hover {
    background: #a41515;
***REMOVED***

.delete-confirmation form .cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: #333;
    margin: 0 0 0 10px;
***REMOVED***

.delete-confirmation form .cancel-link:active,
.delete-confirmation form .cancel-link:focus,
.delete-confirmation form .cancel-link:hover {
    background: #ccc;
***REMOVED***

/* POPUP */
.popup #content {
    padding: 20px;
***REMOVED***

.popup #container {
    min-width: 0;
***REMOVED***

.popup #header {
    padding: 10px 20px;
***REMOVED***
